<!-- <div class="tags">
    <p class="head">Discover.</p>
    <p class="head">Connect.</p>
    <p class="head">Thrive.</p>
</div> -->
<section class="landingpage">

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <p class="navbar-brand"><i class="fa-solid fa-circle-notch fa-2x mt-2"></i></p>
      <h3>Circleup</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">About</a>
        </div>

      </div>
    </div>
  </nav>


  <!-- All Photos from pexels.com -->

  <div class="body">
    <div class="body-wrapper">
      <div>
        <h1 class="text-center">Welcome</h1>
      </div>

      <section class="container parallax bg1">
        <div class="background" style="background-image: url('https://i.postimg.cc/j2BjwMNq/Umk-Mq71-Z-2x.jpg')"></div>
        <div class="foreground" style="background-image: url('')"></div>
        <h2 class="skip">Keep Scrolling</h2>
        <a href="./login" class="tologin"><h5 class="skip">or skip directly to <Button class="btn btn-dark">Login</Button></h5>
        </a>
      </section>


      <section data-aos="zoom-in" class="content-wrapper blur">
        <div class="container">
          <div>
            <h1 class="text-center mb-5 pb-5">About us</h1>
            <p class="about">
              Welcome to CircleUp, yet another social media website powered by the Angular! We are excited
              to introduce you to
              a platform designed to foster connections, inspire collaboration, and create a positive online community.
            </p>

            <p class="about">
              At CircleUp, we believe that the power of social media lies in bringing people together. Our mission is to
              provide a space where individuals can connect, share ideas, and support each other's journeys. We have
              leveraged the strength of MongoDB, Express.js, Angular, and Node.js to create a seamless and engaging user
              experience.
            </p>

            <p class="about">
              At the heart of our platform is the belief that social media should be a place for meaningful
              interactions.
              We have developed a robust messaging system that enables you to connect with friends, family, and even
              meet
              new people. From private conversations to group chats and video calls, our communication tools are
              designed
              to keep you connected and engaged with the people who matter most.
            </p>
          </div>
        </div>
      </section>

      <section class="container container2 parallax2">
        <div class="background2" style="background-image: url('https://i.postimg.cc/vZ4dKHTD/MPKrd-ASV-4x.jpg')">
        </div>
        <div class="foreground" style="background-image: url('')">
          <h1 class="ftrs">Features</h1>
        </div>
      </section>


      <section class="content-wrapper">
        <div class="container dummy">

        </div>
      </section>


      <section class="content-wrapper">
        <div class="container">
          <div class="blur">
            <h1 class="py-5 text-center ">Personalized Feeds</h1>
            <p class="about">
              CircleUp offers personalized feeds tailored to your interests and connections. Our
              algorithm analyzes your activity, engagement, and preferences to curate a feed that showcases the most
              relevant content from your network and communities you follow. Stay updated with the latest posts,
              articles, and discussions that matter to you.
            </p>
            <h1 class="py-5 text-center">Multimedia Content Sharing</h1>
            <p class="about">
              CircleUp enables you to share various forms of multimedia content, including
              photos, videos, and documents. Express yourself creatively, share memorable moments, and showcase your
              talent to the community. Engage with others' content through likes, comments, and reactions, fostering a
              vibrant and interactive community experience.
            </p>
            <h1 class="py-5 text-center ">Privacy and Data Control</h1>
            <p class="about">
              At CircleUp, we prioritize the privacy and data control of our users. We provide
              robust privacy settings that allow you to define the level of visibility and access for your profile,
              posts, and personal information. You have full control over who can view and interact with your content,
              ensuring a safe and secure environment. We adhere to stringent data protection measures, maintaining the
              confidentiality and integrity of your personal data.
            </p>
            <h1 class="py-5 text-center ">Advanced Search and Discovery</h1>
            <p class="about">
              Advanced Search and Discovery: Discover new connections and communities through CircleUp's advanced search
              and discovery features. Find individuals, groups, and trending topics aligned with your interests and
              expertise. The search algorithm utilizes various parameters such as keywords, location, and popularity to
              provide accurate and relevant search results, helping you expand your network and explore new
              opportunities.
            </p>
          </div>
        </div>
      </section>


      <section class="container container3 parallax parallax3">
        <div class="background3"
          style="background-image: url('https://i.postimg.cc/4NDTrR95/20230614005329-fpdl-in-happy-woman-chatting-with-friends-online-74855-14073-large-1-transformed.png')">
        </div>
        <div class="foreground" style="background-image: url('')">
          <h1 class="disc">Disclaimer</h1>
        </div>
      </section>

      <section class="content-wrapper">
        <div class="container">
          <div class="">
            <p class="about blur text-center">
              Users of the CircleUp social media website are solely responsible for the content they share,
              post, or engage with on the platform. We do not endorse or assume responsibility for the accuracy,
              reliability, or legality of user-generated content. CircleUp may contain links to third-party websites or
              content, and we do not endorse or warrant the availability, accuracy, or reliability of such third-party
              content. While we implement security measures to protect user data, we cannot guarantee absolute data
              security. Users are responsible for safeguarding their account credentials and ensuring the security of
              their account information. CircleUp aims to provide uninterrupted service, but we do not guarantee
              continuous access to the platform. We reserve the right to modify, suspend, or discontinue any aspect of
              the platform without prior notice. Users are responsible for reviewing and complying with the latest terms
              and conditions. By using CircleUp, users acknowledge and agree to these terms and conditions.
            </p>
            <pre class="about blur text-center">
              Copyright © 2023
            </pre>
          </div>
        </div>
      </section>


    </div>

  </div>

</section>